*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffff;

}
header{
    background:linear-gradient(to right, #175c96, #2E8B57);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin:auto;
}
nav{
    margin-left: 10px;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    
}
nav ul li {
    justify-content: center;
    display: flex;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    
    
}
header nav ul li a:hover{
    background-color: #07b9d1;
    transform:translate(0, -5px);
}
header button{
    background-color: #0fc79f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
header button:hover{
    background-color: #0da88a;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}
main{
    padding: 1.5rem;
    height: 100vh;
    margin-top: 3rem;
}
.login-box {
            background-color: lightgray;
            width: 700px;
            height: 700px;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            margin-top: 50px;
        }

        h2 {
            text-align: center;
            margin-bottom: 25px;
        }

        input {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            width: 100%;
            padding: 12px;
            background-color: #555;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #333;
        }

footer{
    background:linear-gradient(to right, #175c96, #2E8B57);
    color: #fff;
    text-align: center;
    padding: 10px;
}