*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffff;

}
header{
    background:linear-gradient(to right, #175c96, #2E8B57);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav{
    margin-left: 20px;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    
}
nav ul li {
    justify-content: center;
    display: flex;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    
    
}
header nav ul li a:hover{
    background-color: #07b9d1;
    transform:translate(0, -5px);
}
header button{
    background-color: #0fc79f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
header button:hover{
    background-color: #0da88a;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}
main{
    padding: 20px;
    height: 100vh;
}
footer{
    background:linear-gradient(to right, #175c96, #2E8B57);
    color: #fff;
    text-align: center;
    padding: 10px;
}